{% extends "base.html" %}

{% block container %}
    <div class="row">
        <h1>Add new Item:</h1>
        <form method="POST" action="/add">
            <p>Name:<input class="form-control" type = "text" name = "name" required placeholder="to do ..." /></p>
            <p>Deadline: <input class="datepicker" type="date" name = "deadline" required placeholder="deadline" /></p>
            <p>Done:<input type="checkbox" name="done" /></p>
            <p><input class="btn btn-info btn-block"  type="submit" value="Add"></p>
        </form>
        <nav>
            <a class="btn btn-success" href="/">Return to List</a>
        </nav>
    </div>
{% endblock %}