<!DOCTYPE html>
<html>
<head>
  <title>To do list application</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
    <h3 class="header">New item</h3>
    <form class="add" method="POST" action="/add">
        <div class="name-form">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="to do..." autofocus/>
        </div>
        <div class="done">
            <label for="done">Done</label>
            <input id="done" type="checkbox" name="done"/>
        </div>
        <input class="btn" type="submit" name="sub" value="Add"/>
    </form>
    <div class="bottom">
        <a id="button" class="btn" href="/">Back</a>
    </div>
</body>
</html>
