<!DOCTYPE html>
<html>
<head>
  <title>To do list application</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>

<body>
    <h3 class="header">Edit item</h3>
    <form class="edit" method="POST" action="{{ url_for('edit', todo_id=item.id) }}">
        <div class="name-form">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" value="{{ item.name }}" autofocus/>
        </div>
        {% if item.done %}
        <div class="done">
            <label for="done">Done</label>
            <input id="done" type="checkbox" name="done" checked/>
        </div>
        {% else %}
        <div class="done">
            <label for="done">Done</label>
            <input id="done" type="checkbox" name="done"/>
        </div>
        {% endif %}
        <input class="btn" type="submit" name="sub" value="OK"/>
    </form>
    <div class="bottom">
        <a id="button" class="btn" href="{{ url_for('list') }}">Back</a>
    </div>
</body>
</html>