{% extends "base.html" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
    <h1 class="text-center">TO DO LIST</h1>
                        </table>
          <a href="/add"></a>
    <nav>
        <a href="/add" class="btn btn-info btn-block">Add new task</a>
        <a href="/jokes" class="btn btn-info btn-block">Carousel of jokes</a>
    </nav>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <h2>To do:</h2>
  <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>name of item:</th>
        <th>Deadline</th>
        <th>status</th>
        <th>edit/delete</th>
      </tr>
    </thead>
    <tbody>
    {% for item in todolist %}
      {% if item.done == 1 %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.deadline }}</td>
        <td><a href="/toggle/{{item.id}}"><span class="glyphicon glyphicon-unchecked"></span></a></td>
        <td><a href="/edit/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a><a href="/remove/{{item.id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
          {% endif %}
      {% endfor %}
    </tbody>
  </table>
        </div>
        <div class="col-sm-6">
        <h2>Done:</h2>
          <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>name of item:</th>
        <th>Deadline</th>
        <th>status</th>
        <th>edit/delete</th>
      </tr>
    </thead>
    <tbody>
       {% for item in todolist %}
      {% if item.done == 0 %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.deadline }}</td>
        <td><a href="/toggle/{{item.id}}"><span class="glyphicon glyphicon-check"></span></a></td>
        <td><a href="/edit/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a><a href="/remove/{{item.id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
          {% endif %}
      {% endfor %}
    </tbody>
  </table>
        </div>
    </div>
</div>
{% endblock %}
